{% include 'basics/base.html' %}
<br>
<center>
    <div class="register_container" >
    <div class="shadow p-3 mb-5 bg-body rounded">

            <h1>Register</h1>
    
    
            <form action="" method=POST>
                {% csrf_token %}
                {% for field in form %}
    
                {{ field.label }}
                {{ field }}
    
                {% if field.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Alert</strong> {{ field.errors }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endif %}
                <br>
                {% endfor %}
                <br><br>
                <input type="submit" value = "Submit" class="btn btn-primary">
            </form>
        </div>
    </div>
    
        
        

        
</center>